* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.game{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper{
  display: flex;
  gap: 3rem;
  height: 60vh;
}

.game-info{
  padding-top: 1.5rem;
}

.row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #f0f0f0;
}
